<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @book.page %>
</p>
<p>
  <strong>Dedications (if any):</strong>
  <% @book.dedications.each do |dedication| %>
    <p>
      <%= dedication.words %>
    <p>
  <% end %>
</p>


<%= link_to 'Back', books_path %>
<%= link_to 'Add dedication', new_book_dedication_path(@book) %>
